body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-size: cover;
  background-position: center;
  color: white;
}
.container {
  text-align: center;
  padding: 20px;
  position: relative;
  transform: translate(-07.5%,0%);

}
.main-container{
background-image: url('../../Images/Housee.jpg');
background-position: start;
background-size: cover;
border-radius: 10px;
text-align: center;
width: 79.5em;

padding: 300px 0;



}
.title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  text-transform: uppercase;


}
.search-bar {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 10px;
  border: 2px solid white;
  border-radius: 15px;
  background-color: rgba(22, 18, 18, 0.2);
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.search-bar::placeholder{
  color: #fff;
}