.toggle{
    display: flex;
    justify-content: space-between;
    border: 2px solid darkgoldenrod;
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;
    width: 50px;
}
.FaSun{
    color: black;
}

.toggle>*{
    width: 1rem;
    height: 1rem;
    color: darkgoldenrod;
}
.t-button{
    border-radius: 100%;
    background: darkgoldenrod;
    position: absolute;
}