.home{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}
.h-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
}
.h-name{
    display: flex;
    flex-direction: column;
}

.h-name>:nth-child(1){
    color: #003;
    font-weight: 700;
    font-size: 3rem;

}
.h-name>:nth-child(2){
    color: darkgoldenrod;
    font-weight: bold;
    font-size: 2.3rem;
    
}
.h-name>:nth-child(3){
    color: #003;
    font-weight: 200;
    font-size: 15px;
    margin-top: 15px;
    
}
.h-button{
    border: none;
    background-color: black;
    color: #fff;
    font-size: 16px;
    width: 70%;
    height: 3rem;
    margin-top: 20px;
    border-radius: 34px;
    padding: 21px 36px 21px 36px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.h-button:hover{
    opacity: 56%;
  
}



.h-right {
  flex: 1;
  position: relative;

}
.house{
    width: 900px;
    height: 75vh;
    position: relative;
    transform: translate(07%,-08%);
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    border: none;
    border-radius: 15px;
}