.maincontainer {
  position: relative;
  margin-top: 5%;
  margin-left: 10%;
  width: 80%;
  height: 60vh;

  box-shadow:  rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  display: flex;
  border: none;
  border-radius: 15px;
  padding: 2%;
}
.container{
  display: block;
 padding-right: 30%;


}
p{
  text-decoration: none;
  
  
}
.si:hover{
  text-decoration: underline;
  color: blue;
}
h2{
position: relative;
padding-top: 2%;
font-weight: bolder;
font-style: italic;
transform: translate(150%,-50%);
font-size: 45px;

}
.label-form{
  text-transform: lowercase;
  font-style: italic;

}
input{
  width: 350px;
}
input::after{
  border: none;
}
#input-form{
  border: none;
  border-bottom: 1px solid black;
  border-radius: 5px;
  margin: 2%;
  position: relative;
  left: 15px;


}
.button-form{
  border: none;
  padding: 5%;
  font-size: 20px;
  position: relative;
  top: 20px;
  left: 150px;
  margin-bottom: 25px;
  border-radius: 25px;
  width: 205px;
  box-shadow:  rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  background: black;
  color: aliceblue;

}
.button-form:hover{
  background: blue;

}
.forg-pas{
  color: black;
  position: relative;
  left: 150px;
  text-transform: capitalize;

}
.forg-pas>a{
  color: blue;
  text-transform: capitalize;

}
.forg-pas>a:hover{
  text-decoration: underline;
  color: blue;
}



.Logo{
  margin-top: 20%;
 

}
.line-break{
  border-left: 2px solid rgb(150, 136, 119);
  height: 40vh;
  position: relative;
  top: 20%;
  left: -8.5%;
 
}



.form {
  display: none;
}
.form.active {
  display: block;
}